/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thanh progress */
#nprogress .bar {
  background: #007bff !important;
  height: 4px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #007bff, 0 0 5px #007bff;
}

/* Hiệu ứng fade-out */
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-screen {
  animation: fadeOut 0.5s ease-out 0.3s forwards;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
.hidden-scrollbar {
  -ms-overflow-style: none; /* Cho IE, Edge */
  scrollbar-width: none; /* Cho Firefox */
}
.hidden-scrollbar {
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome, Safari */
}
.highlight {
  animation: fadeHighlight 2s ease-out forwards;
}
@keyframes fadeHighlight {
  0% {
    background: linear-gradient(
      to right,
      #dbeafe,
      #1e40af
    ); /* Màu đậm ban đầu */
    border: 2px solid #1e40af;
  }
  50% {
    background: linear-gradient(to right, #dbeafe, #1e40af); /* Nhạt dần */
    border: 2px solid #dbeafe;
  }
  100% {
    background: none; /* Trở về màu gốc */
    border-color: transparent;
  }
}
